{
  "presets": [
   	["es2015", { "modules": false }],
    "react",
    "latest",
    "stage-2"
  ],
  "plugins": [
    ["transform-decorators-legacy"],
    [
    "import",
    {
      "libraryName": "antd",
      "libraryDirectory": "es",
      "style": "css"
    },
    "transform-runtime",
   [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ]
  ]]// `style: true` 会加载 less 文件
}